<!--
  Generated template for the AnimelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Liste d'animes</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="Rechercher" (ionInput)="Search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of animes" (click)="itemSelected(item['id'])">
      {{ item['name'] }}
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

