<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="login" (ngSubmit)="logForm(login)">
    <h2>Connexion</h2>
    <ion-item>
      <ion-label floating>Pseudo</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <br>
    <button ion-button round color="light" type="submit" [disabled]="!login.valid">Connexion</button>
  </form>
  <button ion-button color="light" (click)='RecoveryPassword()' clear item-end>Mot de passe oubliée ?</button>
</ion-content>
