<ion-header>

  <ion-navbar>
    <ion-title>Animes Dreams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-img width="225" height="335" src="{{ anime.imageUrl }}"></ion-img>
  <ion-list no-border>
    <ion-list-header>
      Infos<button ion-button color="secondary" *ngIf="!check" (click)='add(anime.id)' clear item-end>Ajouter</button>
    </ion-list-header>
    <ion-item>
      <ion-icon name="body" item-start></ion-icon>
      Titre
        <ion-note>
      {{ anime.name }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="easel" item-start></ion-icon>
      Genre
      <ion-note>
      {{ anime.genre }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="videocam" item-start></ion-icon>
      Episode
      <ion-note>
      {{ anime.episode }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
