page-register {
  .toolbar-background {
    background-color: transparent;
    border-style: none;
  }

  .header-ios .toolbar-background-ios {
    border: none;
  }

  .header-md::after {
    position: initial;
  }

  .bar-button-default-ios {
    color: white;
  }

  .toolbar-title {
    display: none;
  }

  .item-ios {
    background-color: transparent;
  }

  .item.item-input {
    background-color: transparent;
  }

  input {
    background-color: transparent !important;
  }

  form h2 {
    margin-left: 32%;
    padding-top: 20px;
  }

  form {
    margin-top: 25%;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
    border-radius: 20px;
  }

  ion-label {
    color: white;
  }

  .button-ios {
    margin: 1.4rem 29%;
  }

  .button-md {
    margin: 1.4em 27%;
  }

  ion-input {
    color: white;
  }

  ion-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../assets/imgs/1472355798-278da176ac19682e3ef27c3543eaabaf.jpeg');
  }
}
