<ion-header>
  <ion-navbar>
    <ion-title>
      Register
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="register" (ngSubmit)="logForm(register)">
    <h2>Inscription</h2>
    <ion-item>
      <ion-label floating>Pseudo</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Mot de passe</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <br>
    <button ion-button round color="light" type="submit" [disabled]="!register.valid">Inscription</button>
  </form>
</ion-content>
