<ion-tabs [selectedIndex]="0">
  <ion-tab [root]="tab1Root" tabTitle="Liste d'animes" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Ma Liste" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mon Profil" tabIcon="settings"></ion-tab>
</ion-tabs>
