<!--
  Generated template for the ProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mon Profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-border>
    <ion-list-header>
      Profil
    </ion-list-header>
    <ion-item>
      <ion-icon name="body" item-start></ion-icon>
      <ion-note item-end>
        {{ profil['username'] }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      <ion-note item-end>
        {{ profil['email'] }}
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
      <ion-list-header>
        Statistiques
      </ion-list-header>
    <ion-item *ngFor="let count of profil['count']">
      {{ count.name }}
      <ion-note item-end>
        {{ count.counter }}
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Options
    </ion-list-header>
    <br>
      <button ion-button color="dark" (click)="EditEmail()" full>Modifier Email</button>
    <br>
      <button ion-button color="dark" (click)="EditUsername()" full>Modifier Username</button>
    <br>
      <button ion-button color="dark" (click)="EditPassword()" full>Modifier Mot de passe</button>
    <br>
      <button ion-button color="danger" (click)="Disconnect()" full>Déconnexion</button>
  </ion-list>
</ion-content>
