<!--
  Generated template for the YouranimelistItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Animes Dreams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-img width="225" height="335" src="{{ anime.image_url }}"></ion-img>
  <ion-list no-border>
    <ion-list-header>
      Infos<button ion-button color="secondary" (click)='delete(anime.relation)' clear item-end>Supprimer</button>
    </ion-list-header>
    <ion-item>
      <ion-icon name="body" item-start></ion-icon>
      Titre
      <ion-note>
        {{ anime.name }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="easel" item-start></ion-icon>
      Genre
      <ion-note>
        {{ anime.genre }}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="videocam" item-start></ion-icon>
      Episode
      <ion-note>
        {{ anime.view_episode }} / {{ anime.episode }}
      </ion-note>
      <button ion-button color="secondary" (click)='updateEpisode()' clear item-end>Modifier</button>
    </ion-item>
    <ion-item>
      <ion-icon name="list" item-start></ion-icon>
      Categorie
      <ion-note>
        {{ anime.category }}
      </ion-note>
      <button ion-button color="secondary" (click)='update()' clear item-end>Modifier</button>
    </ion-item>
  </ion-list>
</ion-content>
