page-home {

}

ion-slide:first-child {
  color: white;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-image: url('../../assets/imgs/1472355798-278da176ac19682e3ef27c3543eaabaf.jpeg');
}

ion-slide:nth-child(2) {
  color: white;
  background-size:cover;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-image: url('../../assets/imgs/backgrounds-with-your-name-695-mitsuha-miyamizu-hd-wallpapers-backgrounds-wallpaper-abyss.png');
}

ion-slide:nth-child(3) {
  color: white;
  //background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image: url('../../assets/imgs/1349792_your-name-wallpaper-iphone.jpg');
}
