  <ion-slides pager>
    <ion-slide>
      <ion-icon style="font-size: 70px" name="book"></ion-icon>
      <h2>Créer votre propre liste d'anime</h2>
      <p>Ajouter, Editer, Supprimer de votre liste les animes de votre choix </p>
    </ion-slide>

    <ion-slide style="background-color: blue">
      <ion-icon style="font-size: 70px" name="list"></ion-icon>
      <h2>Consulter vos statistiques</h2>
      <p>Enregistrer tout vos animes pour savoir où vous en êtes</p>
    </ion-slide>

    <ion-slide style="background-color: red">
      <h2>Commencer</h2>
      <button ion-button round color="light" [navPush]="loginPage">Login</button>
      <button ion-button round color="light" [navPush]="registerPage">Register</button>
    </ion-slide>
  </ion-slides>


