<!--
  Generated template for the YouranimelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ma Liste</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of animes" (click)="itemSelected(item['id'])">
      {{ item['name'] }}
    </button>
  </ion-list>
</ion-content>
